/**
 * Global Styles Entry Point
 * Imports all modular CSS files in proper order
 */

@import "tailwindcss";
@import "katex/dist/katex.min.css";
@import "./styles/base/variables.css";
@import "./styles/base/reset.css";
@import "./styles/base/typography.css";
@import "./styles/layout/container.css";
@import "./styles/layout/header.css";
@import "./styles/layout/footer.css";
@import "./styles/components/posts-list.css";
@import "./styles/components/links-list.css";
@import "./styles/components/card.css";
@import "./styles/components/article.css";
@import "./styles/components/toc.css";
@import "./styles/utilities/helpers.css";
@import "./styles/utilities/responsive.css";

@custom-variant dark (&:is(.dark *));
